/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *= require materialize
 *= require hover
 *= require_tree .
 *= require_self
 */
 
@import "materialize";
@import 'https://fonts.googleapis.com/css?family=Indie+Flower';
@import 'https://fonts.googleapis.com/css?family=Amatic+SC';
@import 'https://fonts.googleapis.com/css?family=Josefin+Sans:400,700';

.josefin-bold{
font-family: 'Josefin Sans', sans-serif;
font-weight: bold;}

.indie-flower {
	font-family: 'Indie Flower', cursive;
}

.amatic-sc{
font-family: 'Amatic SC', cursive;

}
.fsm{
	font-size:20px;
}
.fs-title{
	font-size: 75px;
}
.shadow-blue{
	text-shadow: 4px 4px 4px #0d47a1;
  color:black;

	
}
.shadow-green{
	text-shadow: 4px 4px 4px #1b5e20;
	color:black;


}

.shadow-black{
	text-shadow: 4px 4px 4px black;
	color:black;
}

.superior { 
width: 100%;
height: 300px;

}
.botton{
width:100%;
height:600px;	
}

.parallax-container {
	height:650px;
	transition: height 2s;
}

.parallax{
	 -webkit-filter: blur(3px);
  -moz-filter: blur(3px);
  -o-filter: blur(3px);
  -ms-filter: blur(3px);
  filter: blur(3px);
}
.hideme{
	opacity:0;
}

.pad{
		padding-top:80px;

}

